# Compiled files
*.elf
*.hex

# Build results
*.bin
*.eep
*.map
*.out

# Arduino backup files
*.d
*.dep
*.exe
*.o
*.a
*.so
*.lst

# Sketch build folders
build/
*.sketch.old

# VSCode + Arduino extension
.vscode/
*.code-workspace

# Mac system files
.DS_Store

# Windows system files
Thumbs.db

# PlatformIO
.pio/
